.search {
  background-color: #4CAF50; 
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#City {
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.enter {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.res {
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(180deg, #FFFFFF 0%, #72b6c2 100%);
    border-radius: 8px;
    margin:80px ;
    margin-bottom: 180px;
    width: 50%;
    align-items: center;
    padding: 35px;
    border: 100px;
    display: none ;
    gap : 10px;
    flex-direction: column;

}
.im {
    box-sizing:content-box;
}


body{
    background-color: #777777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 20%;
}